.MyButton {
    display: block;
    width: 170px;
    height: 35px;
    border-radius: 15px;
    background: #334bd4;
    color: white;
    font-family: MarckScript, serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    margin: 10px auto;
    transition: 0.5s;
    cursor: pointer;
}

.MyButton:hover {
    background: linear-gradient(#fc9804, #d39013);
    box-shadow: 0 0 50px #d39013;
    color: black;
}

@font-face {
    font-family: MarckScript;
    src: url("fonts/MarckScript.ttf");
}


