.post {
    border: 2px rgba(51,75,212, 0.5) solid;
    width: 70%;
    border-radius: 20px;
    display: block;
    margin: 15px auto;
    transition: 0.5s;
    padding: 12px 50px;
}

.post:hover {
    background: rgba(51,75,212, 0.2);
    box-shadow: 0 0 50px #334bd4;
}

.post__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post__name {
    color: crimson;
    font-size: 35px;
    font-family: IndieFlower, serif;
    font-weight: 700;
}

.post__email {
    color: red;
    font-family: Birthstone, serif;
    font-weight: 500;
    font-size: 30px;
}

.post__body {
    color: blue;
    font-family: Roboto, serif;
    font-weight: 500;
}

.post__btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto.ttf");
}

@font-face {
    font-family: Birthstone;
    src: url("fonts/Birthstone.ttf");
}

@font-face {
    font-family: IndieFlower;
    src: url("fonts/IndieFlower.ttf");
}